$logo-color-w: #FFFFFF;
$logo-color-b: #4D8FC3;
$logo-color-r: #C34D4D;
$desc-text-color: #E0AB9A;
$loadPageBCKG: #272626;
$oswald: 'Oswald', sans-serif;
header {
  @media (max-width: 480px) {
    width: 100%;
    height: 50px;
    background-color: #E0AB9A;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;

    position: fixed;
    top: 0;
    left: 0;

    button{
      background-color: transparent;
      width: 90px;
      height: 30px;
      border: $logo-color-w 1px solid;
    }
  }
}
.loadingPage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: $loadPageBCKG;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotation {
    from{
      transform: rotate(0);
    }
    to{
      transform: rotate(360deg);
    }
}

.loadingPage::before{
  content: "";
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid #fff;
  border-radius: 360px;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}