$stepBorder: #E0AB9A;
$Oswald: 'Oswald', sans-serif;
$Jura: 'Jura', sans-serif;

$alertColor: #C34D4D;
$noError: #4DC35B;
// ============================
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
// ============================
/* ==================== */

.form{
    input[type='file']{
        display: none;
    }

    .step{
        flex-direction: column;
        border: $stepBorder solid 1px;
        border-radius: 5px;
        display: none;
        &[active="true"]{
            display: flex;
    
        }

    }
    .step1{
        width: 139px;
        height: 39px;
        justify-content: center;
        position: relative;
        label{
            font-family: $Jura;
            font-weight: 600;
            font-size: 12px;
            width: auto;
            text-align: center;
        }
        p{
            font-family: $Oswald;
            color: $alertColor;
            font-size: 10px;
            font-weight: 300;
            position: absolute;
            bottom: -20px;
        }
    }
    .step2{
        width: 160px;
        min-height: 100px;
        padding: 5px 7px;
        .top{
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: space-between;
            .name, .size{
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }
            .name{
                max-width: 75%;
            }
            .name span{
                word-wrap: break-word;
            }
            
            p{
                font-family: $Oswald;
                font-weight: 700;
                font-size: 12px;
                width: auto;
            }
            span{
                font-family: $Jura;
                font-size: 10px;
                font-weight: 700;
                margin-top: 1px;
                color: #E0AB9A;
                width: auto;
            }
        }
        .send{
            width: auto;
            height: 22px;
            font-family: $Jura;
            font-size: 10px;
            font-weight: 600;
            background: transparent;
            margin-top: 12px;

            display: flex;
            align-items: center;
            justify-content: center;

            border: $noError solid 1px;
            border-radius: 5px;
            &[errors="true"]{
                border-color: $alertColor;
            }
        }
        .alert{
            font-family: $Oswald;
            font-size: 10px;
            font-weight: 300;
            color: $alertColor;
            margin-top: 2px;
        }
    }
}