$logo-color-w: #FFFFFF;
$logo-color-b: #4D8FC3;
$logo-color-r: #C34D4D;
$desc-text-color: #E0AB9A;
$black-back: #000;
$span-color: #959595;
$oswald: 'Oswald', sans-serif;
// ============================
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
// ============================
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
    border: none;
    color: white;
    font-family: 'Jura';
    list-style: none;
}
.auth-panel {

  @media (max-width: 480px) {
    background-color: $black-back;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 100%;
    left: 0;
    transition: top .2s;
    &[visible='true']{
      top: 0;
      z-index: 2;
    }
      .reg-panel{
        padding: 70px 34px;
        width: 100%;
        height: 100%;
        margin-top: 20%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $desc-text-color;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        overflow-y: scroll;
        .close-icon{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
  
            background: url( ../../icons/close-reg.svg );
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
  
        .title{
          color: $black-back;
        }
        .desc{
          color: $black-back;
          font-size: 15px;
          font-family: $oswald;
          font-weight: 500;
          margin-top: 12px;
          margin-bottom: 40px;
        }
        input{
          margin-bottom: 19px;
        }
        .regBtn{
          width: 200px;
          height: 30px;
          background: $logo-color-b;
          color: #FFFFFF;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Jura';
          font-size: 12px;
          margin-top: 36px;
        }
        .regFooter{
          display: flex;
          margin-top: 20px;
          align-items: center;
          span{
            font-family: $oswald;
            color: $span-color;
            font-size: 12px;
          }
          button{
            padding: 8px 14px;
            background-color: $logo-color-r;
            border-radius: 5px;
            color: $logo-color-w;
            font-size: 12px;
            margin-left: 52px;
          }
        }
        &[visible='false']{
          display: none;
          z-index: -1;
        }
      }
      .log-panel{
        padding: 70px 34px;
        width: 100%;
        height: 100%;
        margin-top: 137px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $desc-text-color;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
  
        .close-icon{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
  
            background: url( ../../icons/close-reg.svg );
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
  
        .title{
          color: $black-back;
        }
        .desc{
          color: $black-back;
          font-size: 15px;
          font-family: $oswald;
          font-weight: 500;
          margin-top: 12px;
          margin-bottom: 40px;
        }
        input{
          margin-bottom: 19px;
        }
        .regBtn{
          width: 200px;
          height: 30px;
          background: $logo-color-b;
          color: #FFFFFF;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Jura';
          font-size: 12px;
          margin-top: 36px;
        }
        .regFooter{
          display: flex;
          margin-top: 20px;
          align-items: center;
          span{
            font-family: $oswald;
            color: $span-color;
            font-size: 12px;
          }
          button{
            padding: 8px 14px;
            background-color: $logo-color-r;
            border-radius: 5px;
            color: $logo-color-w;
            font-size: 12px;
            margin-left: 52px;
          }
        }
        &[visible='false']{
          display: none;
          z-index: -1;
        }
    }    
  }

}