$desc-text-color: #E0AB9A;
$black-back: #000;
$oswald: 'Oswald', sans-serif;
$Jura: 'Jura', sans-serif;
.update{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: 0;
    background-color: #0000008f;
    padding: 0 10px;
    z-index: 4;
    &[visible='true']{
      top: 0;
    }

    form{
      width: 100%;
      height: auto;
      background-color: $desc-text-color;
      padding: 16px 49px;
      border-radius: 5px;
      h3{
        text-align: center;
        font-family: $Jura;
        font-weight: 600;
        font-size: 24px;
        color: #000;
        margin-bottom: 16px;
      }
      button{
        width: 100%;
        height: 30px;
        font-family: $Jura;
        font-size: 12px;
        border-radius: 5px;
      }
      .submit{
        background-color: #4D8FC3;
        margin-top: 15px;
      }
      .cancel{
        background-color: #C34D4D;
        margin-top: 8px;
      }
      .inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 8px;
      }
    }
  }