$logo-color-w: #FFFFFF;
$logo-color-b: #4D8FC3;
$logo-color-r: #C34D4D;
$desc-text-color: #E0AB9A;
$black-back: #000;
$oswald: 'Oswald', sans-serif;
$Jura: 'Jura', sans-serif;
// ============================
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
// ============================
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    appearance: none;
    border: none;
    color: white;
    font-family: 'Jura';
    list-style: none;
}

.profile-page {
  @media screen and ( max-width: 480px ) {
    h1{
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-top: 27px;
    }
    section{
      padding: 0 34px;
    }
    .update{
      width: 100%;
      height: 100%;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -100%;
      left: 0;
      background-color: #0000008f;
      padding: 0 10px;
      &[visible='true']{
        top: 0;
      }

      form{
        width: 100%;
        height: auto;
        background-color: $desc-text-color;
        padding: 16px 49px;
        border-radius: 5px;
        h3{
          text-align: center;
          font-family: $Jura;
          font-weight: 600;
          font-size: 24px;
          color: #000;
          margin-bottom: 16px;
        }
        button{
          width: 100%;
          height: 30px;
          font-family: $Jura;
          font-size: 12px;
          border-radius: 5px;
        }
        .submit{
          background-color: #4D8FC3;
          margin-top: 15px;
        }
        .cancel{
          background-color: #C34D4D;
          margin-top: 8px;
        }
        .inputs{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
          gap: 8px;
        }
      }
    }
    .data-group{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
      *{
        font-family: $oswald;
        font-weight: 400;
      }
      h2{
        font-size: 15px;
        margin-bottom: 12px
      }
      ul{
        padding-left: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      li{
        color: $desc-text-color;
        font-weight: 300;
      }
      li[class="subject"]{
        display: flex;
        align-items: center;
      }
      li span{
        margin-left: 10px;
        margin-right: 10px;
        color: $desc-text-color;
        font-weight: 300;
      }
      button{
        width: 90px;
        height: 30px;
        background-color: transparent;
        border: $desc-text-color 1px solid;
        border-radius: 5px;
        font-family: $Jura;
        font-size: 12px;
        font-weight: 600;
        margin-top: 23px;
      }
      button[class="delete"]{
        margin: 0;
        width: 20px;
        height: 20px;
        background: url(../../icons/del-subject-ico.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border: none;
        border-radius: 0;
      }
    }
  }
}

